[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
ExecStart=/usr/bin/transmission-daemon -f --log-error
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=default.target
