#!/bin/sh

if [ "$DESKTOP_SESSION" = "openbox-session" ] || \
   [ "$DESKTOP_SESSION" = "xmonad" ] || \
   [ "$DESKTOP_SESSION" = "bspwm" ] || \
   [ "$DESKTOP_SESSION" = "dwm" ]; then

setxkbmap -layout us,ru -option "grp:alt_shift_toggle"
dunst &

# Window manager specific config
if [ "$DESKTOP_SESSION" = "dwm" ]; then
    compositor_args="-o 0"
    dwmblocks &
    pgrep -x sxhkd > /dev/null || sxhkd -c $XDG_CONFIG_HOME/sxhkd/sxhkdrc.dwm &
elif [ "$DESKTOP_SESSION" = "xmonad" ] || \
     [ "$DESKTOP_SESSION" = "bspwm" ]; then
    compositor_args="-o 0"
fi

# Setup wallpaper
WP_DIR="$HOME/pictures/wallpapers/"
if [ -d "$WP_DIR" ]; then    
    WP=$( ls -l "$WP_DIR" | tail -n +2 | awk '{ print $9 }' | shuf | tail -n -1 )
    xwallpaper --zoom "$WP_DIR/$WP"
fi

# On archlinux there is only picom fork
if ! [ $(command -v compton) ]; then
    alias compton="picom"
fi

# Run compositor only in openbox
if [ "$DESKTOP_SESSION" = "openbox-session" ]; then
    compton -c --config $XDG_CONFIG_HOME/compton/compton.conf $compositor_args &
fi

fi

export TERMINAL="x-terminal-emulator"
export BROWSER="qutebrowser"
