#!/bin/sh

if [ "$DESKTOP_SESSION" = "openbox-session" ] || \
   [ "$DESKTOP_SESSION" = "xmonad" ] || \
   [ "$DESKTOP_SESSION" = "dwm" ]; then

setxkbmap -layout us,ru -option "grp:alt_shift_toggle"
dunst &

# Window manager specific config
if [ "$DESKTOP_SESSION" = "dwm" ]; then
    compositor_args="-o 0"
    dwmblocks &
elif [ "$DESKTOP_SESSION" = "xmonad" ]; then
    compositor_args="-o 0"
fi

# Host specific config
if [ "$(hostname -s)" = "laptop1" ]; then
    fusuma &
fi

# Setup wallpaper
WP_DIR="$HOME/Pictures/Wallpapers/"
if [ -d "$WP_DIR" ]; then    
    WP=$( ls -l "$WP_DIR" | tail -n +2 | awk '{ print $9 }' | shuf | tail -n -1 )
    xwallpaper --zoom "$WP_DIR/$WP"
fi

# On archlinux there is only picom fork
if ! [ $(command -v compton) ]; then
    alias compton="picom"
fi

compton -c --config $XDG_CONFIG_HOME/compton/compton.conf $compositor_args &

fi

export TERMINAL="alacritty"
export EDITOR="nvim"
export BROWSER="firefox"
