#!/bin/sh

xcompmgr -c -o 0 &
setxkbmap -layout us,ru -option "grp:alt_shift_toggle"
dunst &
dwmblocks &
if [ "$(hostname -s)" = "laptop1" ]; then
    fusuma &
fi

# Setup wallpaper
WP_DIR="$HOME/Pictures/Wallpapers/"
if [ -d "$WP_DIR" ]; then    
    WP=$( ls -l "$WP_DIR" | tail -n +2 | awk '{ print $9 }' | shuf | tail -n -1 )
    xwallpaper --zoom "$WP_DIR/$WP"
fi
